<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Sample XML Editor"
            extensions="xml"
            icon="icons/sample.gif"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="org.my.eclipse.xmleditor.editors.XMLEditor"
            id="org.my.eclipse.xmleditor.editors.XMLEditor">
      </editor>
   </extension>  
	<extension point="org.eclipse.ui.views">
		<category name="XmlEditor" id="org.my.eclipse.xmleditor"/>
		<view name="XMLEditor View" icon="icons/sample.gif" category="org.my.eclipse.xmleditor"
         class="org.my.eclipse.xmleditor.ui.views.XMlEditorView" id="org.my.eclipse.xmleditor.ui.views.XMlEditorView"/>
    </extension>
</plugin>
